.body {
  margin: 0;
  background: top  right no-repeat url(img/Background.png);
  background-size: cover;
}

.off {
  display: none;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
}

.menu {
    font: 400 50px/59px 'Roboto', sans-serif, arial, helvetica;
    background: top 37vw right 21px no-repeat url(img/cards.png);
    color: #FFFFFF;
    padding: 103px 103px 256px;
    box-sizing: border-box;
}

.menu.off{
  display: none;
}

.menu__title{
	font: 700 57px/63px 'Roboto', sans-serif, arial, helvetica;
	    margin: 30px 0 0px 0px;
      color: #FFFFFF;
}

.menu__subtitle{
  font: 700 19px/22px 'Roboto', sans-serif, arial, helvetica;
  margin: 9px 0px 36px 2px;
  color: #FFFFFF;
}

.menu__flex {
  display: flex;
  justify-content: space-between;
}

.menu__list {

    margin: 26px 51px;
}

.menu__list_item{
    position: relative;
    cursor: pointer;
    font: 50px/59px 'Roboto', sans-serif, arial, helvetica;
    font-weight: 700;
    margin-bottom: 24px;
    transition: color 1s;
}
.menu__list :hover{
  color: #D62B2E ;
}
.menu__list_easy.active {
  position: relative;
}

.menu__list_easy.active::before {
  position: absolute;
  content: url(img/figure.png);
  margin-left: -49px;
  margin-top: -5px;
}
.menu__list_middle.active {
  position: relative;
}

.menu__list_middle.active::before {
  position: absolute;
  content: url(img/figure.png);
  margin-left: -49px;
  margin-top: -5px;
}

.menu__list_hard.active {
  position: relative;
}

.menu__list_hard.active::before {
  position: absolute;
  content: url(img/figure.png);
  margin-left: -49px;
  margin-top: -5px;
}

.menu__list_button {
    font: 700 32px/37px 'Roboto', sans-serif, arial, helvetica;
    display: inline-block;
    color: #FFFFFF;
    background: #D62B2E;
    padding: 30px 85px;
    text-decoration: none;
    margin: 88px -51px 22px;
    transition: ease-in .5s;
}

.menu__list_button:hover{
   transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
.game-page.off{
  display: none;
}
.game-page {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.game-page__levels.off {
  display: none;
}

.hidden-page.off {
  display: none;
}

.game-page__levels {
  display: grid;
  grid-template-columns: 215px 215px 215px;
  grid-gap: 1.2vw;
  align-content: center;
}

.levels__item {
  width: 215px;
  height: 301px;
  transition: translateY .5s, transform .5s;
}

.levels__item:hover {
  transform: translateY(-38px) rotate(-3deg);
}

.card-game-over {
  transform: rotateY(180deg);
  content: url(img/game-over.png);
}

.card-game-over.opened {
  transform: none;

}

.card-bonus {
  transform: rotateY(180deg);
  content: url(img/bonus.png);
}

.card-bonus.opened {
  transform: none;

}
@media (max-width:1024px) {
  .menu {
    background: top 56vw right 3px no-repeat url(img/cards.png);
      background-size: 48%;
  }

  .game-page__levels {
    display: grid;
    grid-template-columns: 215px 215px 215px;
    grid-gap: 1.2vw;
    align-content: center;
}
.levels__item {
    width: 197px;
    height: 281px;
    transition: translateY .5s, transform .5s;
}
}
@media (max-width:768px) {

  .menu {
   background-image: none;
background-size: 47%;
  }

  .menu__title{
  	font: 700 57px/63px 'Roboto', sans-serif, arial, helvetica;
  }

  .menu__subtitle{
    font: 700 19px/22px 'Roboto', sans-serif, arial, helvetica;
 }
 .levels__item {
    width: 181px;
    height: 261px;
    transition: translateY .5s, transform .5s;
}
.game-page__levels {
    display: grid;
    grid-template-columns: 185px 185px 185px;
    grid-gap: 1.2vw;
    align-content: center;
}
}

@media (max-width:600px) {
  .menu__title {
      font: 700 34px/35px 'Roboto', sans-serif, arial, helvetica;
      /* text-align: center; */
  }
  .menu__subtitle {
      font: 700 15px/22px 'Roboto', sans-serif, arial, helvetica;
      /* text-align: center; */
  }
  .menu__list_item {

    font: 700 30px/28px 'Roboto', sans-serif, arial, helvetica;
    margin-bottom: 24px;

}
.menu__list_button {
    font: 700 21px/37px 'Roboto', sans-serif, arial, helvetica;

    padding: 12px 67px;

    margin: 32px -51px 22px;
  }

  .levels__item {
    width: 165px;
    height: 251px;
    transition: translateY .5s, transform .5s;
}
.game-page__levels {
    display: grid;
    grid-template-columns: 165px 165px 165px;
    grid-gap: 1.2vw;
    align-content: center;
}
}

  @media (max-width:550px) {
    .menu {
      padding: 65px 48px 155px;
    }
    .levels__item {
    width: 131px;
    height: 191px;
    transition: translateY .5s, transform .5s;
}
.game-page__levels {
    display: grid;
    grid-template-columns: 135px 135px 135px;
    grid-gap: 1.2vw;
    align-content: center;
}
  }

@media (max-width:460px) {
  .levels__item {
    width: 115px;
    height: 171px;
    transition: translateY .5s, transform .5s;
}
.game-page__levels {
    display: grid;
    grid-template-columns: 115px 115px 115px;
    grid-gap: 1.2vw;
    align-content: center;
}
}
@media (max-width:376px) {
  .menu {
        padding: 65px 20px 155px;
  }

  .levels__item {
    width: 105px;
    height: 159px;
    transition: translateY .5s, transform .5s;
}
.game-page__levels {
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-gap: 1.2vw;
    align-content: center;
}
}
